<div>
  <span style="font-size:20px;">系统设置</span>
  <span><%= link_to "当前指令", "/trade_orders/pre_orders"%></span>
  <span><%= link_to "今日指令", "/trade_orders/event_logs"%></span>
  <span><%= link_to "今日成交", "/trade_orders/histroy_matchresults"%></span>
  <span><%= link_to "资金流水", "/trade_orders/accounts_history"%></span>
  <span><%= link_to "资金余额", "/trade_orders/trader_balances"%></span>
  <span><%= link_to "系统设置", "/trader_settings/#{TraderSetting.find_by(account_id: ENV["huobi_accounts"].to_i).id}/edit"%></span>
</div>
<div>
  <span style="font-size:10px;"><%= link_to "production log", "/trade_orders/production_log"%></span>
</div>

<div style="padding-top: 25px;">
  <%= form_with model: @trader_setting do |form| %>
    <div class="display: inline-block;">
      <label>合约上市后交易等待日期：</label>
      <%= form.text_field :days_after_symbol_listing, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>全局指令数量上限：</label>
      <%= form.text_field :max_opened_orders, required: true, disabled: true %>
    </div>
    <div class="display: inline-block;">
      <label>开仓后等待多少时间接受平仓指令(秒)：</label>
      <%= form.text_field :open_await_to_close_time, required: true, disabled: true %>
    </div>
    <div class="display: inline-block;">
      <label>单个货币对日交易量下限：</label>
      <%= form.text_field :amount_bottom_limit, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>总份额数：</label>
      <%= form.text_field :divide_shares, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>开仓涨幅下限：</label>
      <%= form.text_field :up_floor_limit, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>开仓涨幅上限：</label>
      <%= form.text_field :up_up_limit, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>止损平仓跌幅下限(以开仓价涨跌幅计)：</label>
      <%= form.text_field :down_limit, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>止损平仓跌幅下限(以当日涨跌幅计)：</label>
      <%= form.text_field :open_down_limit, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>止赢平仓涨幅上限：</label>
      <%= form.text_field :up_limit, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>持仓盈亏监控间隔频率(秒)：</label>
      <%= form.text_field :pnl_interval, required: true, disabled: true %>
    </div>
    <div class="display: inline-block;">
      <label>持仓持续时间(秒)：</label>
      <%= form.text_field :close_timer_up, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>ticker监控回溯时间(秒)：</label>
      <%= form.text_field :tickers_check_interval, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>当日资产涨幅百分比上限：</label>
      <%= form.text_field :daily_balance_up_limit, required: true, disabled: true %>
    </div>
    <div class="display: inline-block;">
      <label>每日开仓起始时间：</label>
      <%= form.text_field :daily_start_time, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>每日全清仓时间：</label>
      <%= form.text_field :daily_clear_all_time, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>买入接受起始时间(不包含此刻)：</label>
      <%= form.text_field :buy_accept_start_time, required: true %>
    </div>
    <div class="display: inline-block;">
      <label>买入接受终止时间(不包含此刻)：</label>
      <%= form.text_field :buy_accept_end_time, required: true %>
    </div>

    <div class="display: inline-block;">
      <label>验证码：</label>
      <%= form.text_field :verify_code, required: true %>
    </div>

    <%= form.submit "保存" %>
  <% end %>
</div>
